@model Project

@{
    ViewData["Title"] = "Project Details"; //sets the title of the view to "Project Details"
   // ViewBag.Title = "Project Details";
    // Layout = "_Layout";
}

<h2>Project Details</h2>

<div class="card">
    
    <div class="card-body">
        <div class="card-title">@Html.DisplayFor(modle => modle.Name, "ProjectName")</div>
        <div class="card-text">@Html.DisplayFor(modle => modle.Description, "ProjectDescription")</div>

        <dl class="row">

            <dt class="col-sm-3">Project Id</dt>
            <dd class="col-sm-9">@Model.ProjectId</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.StartDate)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(modle => modle.StartDate, "DateTime")</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.EndDate)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(modle => modle.EndDate, "DateTime")</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Status)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(modle => modle.Status, "ProjectName")</dd>

            <!-- Add more properties here / below -->

            
        </dl>
    
    
    <a asp-controller="Project" asp-action="Edit" asp-route-id="@Model.ProjectId" class="btn btn-primary">Edit</a>
    <a asp-controller="Project" asp-action="Index" class="btn btn-secondary">Back to Project List</a>
        
    </div>


</div>